@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

:root {
    /* DIMENSIONS */
    --cardWidth: 400px;
    --cardHeight: calc(var(--cardWidth) / 2);
    --headFontSize: 1.8rem;
    --fontSize: calc(var(--headFontSize) - 0.7rem);
    --frontFontSize: calc(var(--fontSize) + 0.2rem);
}
:root {
    /* COLOR */
    --whiteCard: rgb(255, 254, 246);
    --transparentTest: rgba(0, 0, 0, 0%);
}

body {
    width: 100%;
    background-color: rgb(61, 60, 66);
    color: black;
    font-family: 'Neucha', cursive;
}
#root {
    background-color: rgb(55, 55, 55);
    margin: 0;
    margin-left: -6px;
}
.App {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.flashcard {
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: var(--whiteCard);
    color: black;
    width: var(--cardWidth);
    height: var(--cardHeight);
}
.flashcardHeader {
    font-size: var(--headFontSize);
    /* background-color: var(--transparentTest); */
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
    border: solid blue 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.flashcardText {
    font-size: var(--fontSize);
    padding: 10px;
    margin-top: 0;
    background-color: var(--transparentTest);
    height: 100%;
    overflow-y: scroll;
}
.frontText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--frontFontSize);
}
